<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stich House || About</title>
</head>

<body>
    <h2>About Page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate facere quasi natus aliquam at voluptatem
        tenetur optio, numquam porro eligendi atque facilis explicabo repellat aut accusantium. Similique iste veniam
        animi?</p>

</body>

</html>